<div class="container">
    <h1 style="margin-top: 10px;" class="text-center">Pensioner List</h1>
    <table class="table table-striped mt">
        <thead>
            <tr>
                <th>Name</th>
                <th>Pan No</th>
                <th>Bank Name</th>
                <th>Bank A/C No</th>
                <th>Bank Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor= "let pensioner of pensionerList">
                <td>{{pensioner.name}}</td>
                <td>{{pensioner.panNumber}}</td>
                <td>{{pensioner.bankDetail.bankName}}</td>
                <td>{{pensioner.bankDetail.accountNumber}}</td>
                <td>{{pensioner.bankDetail.bankType}}</td>
            </tr>
        </tbody>
    </table>
    </div>
    
    
    