<div class="container">
    <div class="bootstrap-wrapper">
        <div class="container mt">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h1 class="text-center">Calculate Pension Amount</h1>
                    <form (ngSubmit)="onSubmit()">
                        <mat-form-field class="full-width">
                            <mat-label>Aadhaar Number</mat-label>
                            <input required [(ngModel)]="credentials.aadhaarNumber" name="aadhaarNumber"
                            type="text" #control1="ngModel" matInput/>
                            <mat-error *ngIf="control1.invalid && control1.invalid">  
                                <div *ngIf="control1.errors?.required">aadhaar number is required</div>  
                            </mat-error> 
                        </mat-form-field>
                        <br>
                        <br>
                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary">Calculate Pension</button>
                            <button type="reset" mat-raised-button color="accent" style="margin-left: 10px;">Reset</button>
                        </div>
                    </form>
                </div >
            </div>
        </div>
    </div>
    <br>
    <div class="">
        <table  class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date-Of-Birth</th>
                    <th>Pan Number</th>
                    <th>Pension Type</th>
                    <th>Pension Amount</th>
            </tr>
            </thead>
           <tbody> 
            <tr *ngFor="let data of pension">
                    <td>{{data.name}}</td>
                    <td>{{data.dateOfBirth}}</td>
                    <td>{{data.panNumber}}</td>
                    <td>{{data.pensiontype}}</td>
                    <td>{{data.pensionAmount}}</td>
                </tr>
            </tbody>
         </table>
    </div>
    </div>
    
    